body {
    padding: 20px;
}

#error {
    font-family: Courier, monospace;
    font-size: 12px;
    color: red;
}

#notation {
    width: 500px;
    height: 300px;
    font-family: Courier, monospace;
    font-size: 12px;
}

.canvas-layers { position:relative; width:600px; height:400px }
.canvas-layers canvas { position:absolute; top:0; left:0 }