<!DOCTYPE html>
<html>

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" type="text/css">
    <link rel="stylesheet" href="build/css/main.css">

    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/jquery.hotkeys/jquery.hotkeys.js"></script>
    <script src="bower_components/underscore/underscore.js"></script>
    <script src="bower_components/vexflow/build/vexflow/vexflow-min.js"></script>

    <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>

    <!--<script src="bower_components/vextab/vextab_parser.js"></script>-->
    <!--<script src="bower_components/vextab/vextab.js"></script>-->
    <!--<script src="bower_components/vextab/artist.js"></script>-->

    <script src="bower_components/MIDI.js/build/MIDI.min.js"></script>
    <script src="bower_components/MIDI.js/inc/Base64.js" type="text/javascript"></script>
    <script src="bower_components/MIDI.js/inc/base64binary.js" type="text/javascript"></script>

    <script src="bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>

    <script data-main="scripts/main" src="/bower_components/requirejs/require.js"></script>
</head>
<body ng-cloak ng-controller="EditorCtrl as editor">
<div>
    <ng-include src="'views/header.html'"></ng-include>
    <div class="row viewport">
        <div class="col-xs-3">
            <ng-include src="'views/instruments-panel/tools.html'"></ng-include>
            <tabset justified="true">
                <tab heading="Instruments">
                    <div class="instruments panel panel-default">
                        <div class="instrument" >
                            <button data-toggle="modal" data-target="#keyboardModal" class="btn btn-default">MIDI keyboard</button>
                            <button data-toggle="modal" data-target="#fretboardModal" class="btn btn-default" >Guitar fretboard</button>
                        </div>
                    </div>
                </tab>
            </tabset>
        </div>
        <div class="view col-xs-9">
            <ul class="nav nav-tabs">
                <li ng-repeat="track in song.tracks"
                    ng-class="{active: activeTrack === track}">
                    <a href="#track{{track.instrument.id}}" ng-click="editor.setActiveTrack(track)">
                        {{track.instrument.instrument}}<span style="margin-left: 8px" class="glyphicon glyphicon-remove"
                            ng-click="editor.removeTrack(track)"></span>
                    </a>
                </li>
                <button class="btn btn-default" style="margin-top: 7px" ng-click="editor.newTrack()">
                    <span class="glyphicon glyphicon-plus"></span>
                </button>
            </ul>
            <div class="canvas-layers panel panel-default"
                 ng-click="editor.selectedInstrument.scoreClick($event)"
                 ng-mousemove="editor.selectedInstrument.mouseMove($event)">
                <canvas id="canvas"></canvas>
                <canvas id='hoverCanvas'></canvas>
                <canvas id='selectionCanvas'></canvas>
            </div>
            <div class="error"></div>
        </div>
    </div>
</div>
<div class="modal fade" id="keyboardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 785px">
        <div class="modal-content" >
            <ng-include src="'views/keyboard.html'"></ng-include>
        </div>
    </div>
</div>
<div class="modal fade" id="fretboardModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 1200px">
        <div class="modal-content">
            <ng-include src="'views/fretboard.html'"></ng-include>
        </div>
    </div>
</div>
</body>
</html>